form#text-upload(action="/request", enctype="multipart/form-data", method="post")
  input.form-control(type="hidden", name="applicationName", value="mapreducer")
  input.form-control(type="hidden", name="methodName", value="analyze")
  input.form-control(type="file", name="component")
  input.btn.btn-success(type="submit", value="Send")
div#wordcloud(style="width: 550px; height: 350px;")
link(rel="stylesheet", type="text/css", href="/static/mapreducer/interface/css/jqcloud.css")
script(type="text/javascript", src="/static/mapreducer/interface/js/jqcloud.js")
script(type='text/javascript').
  $(document).ready(function() {
    $('#text-upload').ajaxForm(function(result) {
      var resultMap = JSON.parse(result.responseObject);
      var wordArray = [];

      var wordsCount = 0;
      for (var key in resultMap) {
        wordArray.push({text: key, weight: resultMap[key]});
        wordsCount++;

        if (wordsCount > 100) {
          break;
        }
      }

      $("#wordcloud").jQCloud(wordArray);
    });
  });